.smile {
    width: 100px;
    height: 50px;
    background-image: url(https://content.production.cdn.art19.com/images/82/27/eb/11/8227eb11-2859-4738-bc8a-39ee289f7577/a3d308492e82e4aa20d7e91e4eb2b4065c1426c45c6828a176c5b785d32ed7c0ec1d6104d0ad5c8458128a86c0d846313b8ac93b59e0ab5bbbdf03a9d7af2f01.jpeg);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}
.smile:hover{
    background-image: url(https://yt3.ggpht.com/ytc/AAUvwng-xqVAjnPKhoxdjCgnkw3BuB7uP1ohZPCMSe-uYw=s900-c-k-c0x00ffffff-no-rj);
}